@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Montserrat:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

@mixin flexBox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

main {
  background-image: url(../images/bg-helloween.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  @include flexBox(column, center, center);

  h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 4rem;
    margin-bottom: 5rem;
    letter-spacing: 7px;
    color: #fae2ce;
  }
}

.cta {
  background-color: rgba($color: #fae2ce, $alpha: 0.7);
  max-width: 30rem;
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  @include flexBox(column, center, center);
  margin: 0 1rem;
  padding: 0.8rem;
  text-align: center;
  box-shadow: 0 4px 18px #000;
  transition: all 300ms ease;

  &:hover {
    background-image: url(../images/monsters-team.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &:hover &__title {
    opacity: 0;
  }

  &:hover &__btn {
    box-shadow: inset 0 0px 12px #000, 0 6px 18px #000;
  }

  &__title {
    font-family: 'Chelsea Market', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
    transition: all 300ms ease;
  }

  &__btn {
    background-color: #b25327;
    color: #fae2ce;
    padding: 0.8rem 1rem;
    border-radius: 0.8rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 300ms ease-in-out;
    box-shadow: 0 4px 12px #000;

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  color: #fae2ce;
  transition: all 200ms ease;

  &.active {
    @include flexBox(row, center, center);
  }

  &__container {
    position: absolute;
    max-width: 30rem;
    width: 100%;
    height: auto;
    z-index: 2;
    background-color: #b25327;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    @include flexBox(column, center, center);
  }

  &__img {
    max-width: 20rem;

    img {
      width: 100%;
      display: block;
    }
  }

  &__close {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #fae2ce;
    border-radius: 50%;
    box-shadow: 0 4px 12px #000;
    @include flexBox(row, center, center);
    transition: all 200ms ease;

    .bx-x-circle {
      font-size: 2rem;
      color: #b25327;
    }

    &:hover {
      transform: translateY(-1px);
    }
  }
}
